section {
    &#header {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        z-index: 10;
        background: linear-gradient(180deg, #303a4f, #2a3345);
        color: white;

        input {
            &#global_search {
                height: 40px;
                margin-top: 12.5px !important;
                border-bottom: none !important;
                font-size: 20px;
                background-color: white;
            }
        }

        a {
            &[role="button"] {
                i {
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
